body{
    background-color: rgb(218, 228, 248);
}

#addBtn{
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

#addBtn:hover{
    color:black;
    background-color: rgb(95, 250, 90);
}

#dateinback{
    position: absolute;
    margin-top:10px;
    margin-left: 20px;
}

